/************************************/
/*				     COLORS			    	    */
/************************************/

:root {
    --basic-black: #000000;
    --basic-dark: #363636;
    --basic-gray: #464646;
    --basic-half-gray: #7e7e7e;
    --basic-gray-light: #e5e5e5;
    --basic-white: #FFFFFF;

    --special-yellow-dark: #f0c52e;
    --special-yellow: #f7e296;
    --special-green: #91c92f;

    --status-pink-light: #f6dada;

}

/************************************/
/*				FONTS				*/
/************************************/

@font-face {
	font-family: "Open Sans";
	font-weight: 400;
	font-style: normal;
	src:	local('Open Sans Regular'), local('OpenSans-Regular'),
			url("../fonts/opensans.woff2") format("woff2"),
			url("../fonts/opensans.woff") format("woff");

}

@font-face {
	font-family: "Open Sans";
	font-weight: 300;
	font-style: normal;
	src:	local('Open Sans Light'), local('OpenSans-Light'),
			url("../fonts/opensanslight.woff2") format("woff2"),
			url("../fonts/opensanslight.woff") format("woff");

}

@font-face {
	font-family: "Gilroy";
	font-weight: 800;
	font-style: normal;
	src:
		url("../fonts/gilroyextrabold.woff2") format("woff2"),
		url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
	font-family: "Gilroy";
	font-weight: 300;
	font-style: normal;
	src:
		url("../fonts/gilroylight.woff2") format("woff2"),
		url("../fonts/gilroylight.woff") format("woff");
}

/************************************/
/*				BODY				*/
/************************************/

.page-body {
	min-width: 1160px;
	margin: 0;
	padding: 0;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 15px;
	color: var(--basic-black);
	background-color: var(--basic-white);
}

/* СТИЛИЗАЦИЯ ВСЕХ ОДНОТИПНЫХ ССЫЛОК */

.button {
	font-family: Gilroy, Arial, sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.2em;
	text-align: center;
	text-transform: uppercase;
	color: var(--basic-black);
}

/* СТИЛИЗАЦИЯ ВСЕХ ЗАГОЛОВКОВ */

.page-body h3, h2 {
	font-family: Gilroy, Arial, sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 47px;
	line-height: 58px;
	letter-spacing: 0.2em;
	color: var(--basic-black);
}

/* СКРЫТИЕ ЭЛЕМЕНТА */

.hidden {
	display: none;
}

/********************************************************/
/*			GLOBAL CLASS	СОГЛАСНО КРИТЕРИЮ  Д25		*/
/********************************************************/


a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}


/************************************/
/*				HEADER				*/
/************************************/

.main-header {
	min-height: 300px;
	display: grid;
	grid-template-rows: auto auto;
	grid-template-columns: 1fr 1fr;
	color: var(--basic-black);
	background-color: var(--special-yellow);
}

.main-header a {
	color: var(--basic-black);
}

.header-logo,
.footer-logo {
	width: 163px;
	height: 35px;
}

/*	ФОРМА ПОИСКА	*/

.search {
	font-family: "Open Sans", Arial, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;
	border: none;
	width: 144px;
	height: 20px;
	color: var(--basic-black);
	background-color: transparent;
	opacity: 0.3
}

.search:hover {
	color: var(--basic-black);
	opacity: 0.6;
}

.search:focus {
	outline: none;
	color: var(--basic-black);
	opacity: 1;
}

.search-button {
	font-family: "Open Sans", Arial, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;
	border: 2px solid var(--basic-black);
	border-radius: 0;
	text-transform: uppercase;
	color: var(--basic-black);
	background-color: transparent;
}

.search-button:hover {
	color: var(--basic-white);
	background-color: var(--basic-black);
}

.search-button:active {
	color: rgba(255,255,255, 0.3);
	background-color: var(--basic-black);
}


/* СТИЛИЗАЦИЯ НАВИГАЦИИ */

.main-navigation {
	grid-column: 1/3;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
}

.user-navigation {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	font-family: "Open Sans", Arial, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;
}

.catalog-navigation {
	font-family: Gilroy, Arial, sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: var(--basic-black);
	background-color: transparent;
}

.catalog-submenu {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto auto;
	font-family: "Open Sans", Arial, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;
	letter-spacing: normal;
	text-transform: capitalize;
	color: var(--basic-black);
	background-color: transparent;
}

.site-navigation {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	font-family: Gilroy, Arial, sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: var(--basic-black);
	background-color: transparent;
}

/*	УБИРАЕМ LIST-STYLE У ВСЕХ СПИСКОВ В HEADER */

.user-navigation,
.catalog-navigation,
.catalog-submenu,
.site-navigation,
.catalog-list {
	margin: 0;
	padding: 0;
	list-style: none;

}

/************************************/
/*		      	СЛАЙДЕРЫ			      	*/
/************************************/

.slider {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: min-content min-content min-content min-content min-content;
	position: relative;
	bottom: 70px;
}

.slider-image {
	grid-row: 1/-1;
}

.rectangle-slider {
	width: 100px;
	height: 7px;
	background-color: var(--basic-black);
	float: left;
}

.slider h3 {
	margin: 0;
	font-family: Gilroy;
	font-style: normal;
	font-weight: 800;
	font-size: 47px;
	line-height: 58px;
}

.number-slider {
	font-family: Gilroy;
	font-style: normal;
	font-weight: 800;
	font-size: 179px;
	line-height: 219px;
	text-transform: uppercase;
	color: var(--basic-black);
	float: right;
	margin-right: 60px;
}

.definition-list {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: min-content min-content;
	align-content: start;
}

.definition-list dd {
	grid-row: 1 / 2;
	margin: 0;
	font-family: Gilroy;
	font-style: normal;
	font-weight: 300;
	font-size: 36px;
	line-height: 42px;
	letter-spacing: 0.1em;
	color: var(--basic-black);
}

.definition-list dt {
	margin-top: 15px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: 300;
	font-size: 13px;
	line-height: 15px;
	letter-spacing: 0.1em;
	color: var(--basic-black);
}

.slider p {
	font-family: Open Sans;
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;
	color: var(--basic-black);
}

/************************************/
/*			ПСЕВДОКЛАССЫ			*/
/************************************/

/* не знаю насколько это разумно выделять в отдельный смысловой блок псевдоклассы */

.header-logo:hover,
.catalog-link:hover,
.catalog-submenu a:hover,
.user-navigation a:hover,
.site-navigation a:hover,
.footer-logo:hover,
.academy-button:hover,
.footer-site-navigation a:hover {
	opacity: 0.6;
}

.header-logo:active,
.catalog-link:active,
.catalog-submenu a:active,
.user-navigation a:active,
.site-navigation a:active,
.footer-logo:active,
.academy-button:active,
.footer-site-navigation a:active {
	opacity: 0.3;
}

/************************************/
/*				MAIN				*/
/************************************/

.container {
	width: 1160px;
  	margin: 0 auto;
}

.container a {
	color: var(--basic-black);
}

.catalog-list,
.services-list,
.brands-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

/*	ОСНОВНОЙ КАТАЛОГ */

.catalog {
	font-family: Gilroy, Arial, sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.05em;
	color: var(--basic-black);
	margin-bottom: 164px;
}

.catalog-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	column-gap: 40px;
}

.catalog-image {
	width: 160px;
	height: 160px;
	background-color: var(--special-yellow);
	margin: 30px 0; /* отступ сверху временный */
	display: flex;
	align-items: center;
	justify-content: center;
}

/*	ИЗОБРАЖЕНИЯ ИЗ КАТАЛОГА	*/

.virtual-reality {
	width: 97px;
	height: 55px;
}

.selfie-monopods {
	width: 86px;
	height: 117px;
}

.action-cameras {
	width: 71px;
	height: 87px;
}

.fitness-bracelets {
	width: 107px;
	height: 65px;
}
.smart-watch {
	width: 56px;
	height: 98px;
}
.quadcopters {
	width: 132px;
	height: 69px;
}


/* БЛОК СЕРВИСЫ */

.services {
	font-family: "Open Sans", Arial, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 28px;
	letter-spacing: 0.1em;
	color: var(--basic-black);
	background-color: var(--basic-gray-light);
	margin-bottom: 90px;
}

.service-content {
	display: grid;
	grid-template-columns: 300px 1fr;
	position: relative;
	bottom: 75px;
}
.services-list {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: min-content min-content min-content;
	border-right: 7px solid var(--basic-black);
}
.services-list li {
	padding-top: 15px;
	text-align: center;
	align-self: center;

}
.services-block {
	margin-left: 116px;
	display: grid;
	grid-template-rows: 1fr 1fr auto;
	grid-template-columns: auto auto;
}

.service-image {
	grid-row: 1 / span 2;
	grid-column: 2 / -1;
	text-align: right;
	align-self: center;
	margin-right:;
}

/* БЛОК ПРОИЗВОДИТЕЛЕЙ */

.brands {
	margin-bottom: 90px;
}

.brands-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	column-gap: 40px;
}

.images-brands {
	width: 260px;
	height: 100px;
}

/* ИНФОРМАЦИОННЫЕ БЛОКИ */

.index-columns {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-bottom: 86px;
}

.about {
	float: left;
	display: grid;
	grid-template-rows: auto auto 1fr auto auto;
	grid-template-columns: 473px;
	font-family: "Open Sans", Arial, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 28px;
	color: var(--basic-black);
	background-color: transparent;
}

.about-list {
	list-style: none;
	font-family: Gilroy, Arial, sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 16px;
	line-height: 28px;
	color: var(--basic-black);
	background-color: transparent;
}

.contacts {
	float: right;
	display: grid;
	grid-template-rows: min-content min-content min-content min-content;
	grid-template-columns: 560px;
	font-family: "Open Sans", Arial, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 28px;
	color: var(--basic-black);
	background-color: transparent;
}

.rectangle {
	width: 80px;
	height: 7px;
	background-color: var(--basic-black);
}

/************************************/
/*				FOOTER				*/
/************************************/

.main-footer {
	padding-top: 45px;
	padding-bottom: 64px;
	color: var(--basic-white);
	background-color: var(--basic-dark);
}

.footer-content {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: min-content;

}

.main-footer a {
	color: var(--basic-white);
}

.footer-left {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr;
}

.footer-middle {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr;
}

.footer-right {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr;
}

.footer-social-list {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
}
/*	убираем list-style у списков */

.footer-user-navigation,
.footer-site-navigation,
.footer-social-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

/*  навигационные блоки в footer */

.footer-user-navigation {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	font-family: "Open Sans", Arial, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;
	color: rgba(255, 255, 255, 0.7);
	background-color: transparent;
}

.footer-user-navigation li {
	text-align: right;
}

.footer-phone {
	text-align: right;
 }
 .academy-button {
 	text-align: right;
 }

/* иконки user-navigation, таким образом избежал множество проблем с разметкой */

.footer-user-navigation li:nth-child(1) a:before {
	background: url("../img/icon-user-footer.svg") no-repeat center;
    width: 14px;
    height: 14px;
    content: "";
  }

.footer-user-navigation li:nth-child(2) a:before {
	background: url("../img/icon-compare-footer.svg") no-repeat center;
    width: 14px;
    height: 14px;
    content: "";
  }

  .footer-user-navigation li:nth-child(3) a:before {
	background: url("../img/icon-basket-footer.svg") no-repeat center;
    width: 14px;
    height: 14px;
    content: "";
  }

.footer-user-navigation a { opacity: 0.7; }
.footer-user-navigation a:hover { opacity: 1 }
.footer-user-navigation a:active { opacity: 0.3; }

.footer-site-navigation {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	font-family: Gilroy, Arial, sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.2em;
	color: var(--basic-white);
	text-transform: uppercase;
	background-color: transparent;

}

.rectangle-footer {
	width: 80px;
	height: 7px;
	background-color: #FFC600;
}

.footer-address,
.footer-phone {
	font-family: "Open Sans", Arial, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;
	color: var(--basic-white);
}

.social-button {
	width: 32px;
	height: 32px;
	color: var(--basic-white);
	opacity: 0.3;
}

.social-button:hover { opacity: 0.6; }
.social-button:active { opacity: 0.1; }


/************************************/
/*			PAGE CATALOG			*/
/************************************/

.page-catalog {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: min-content 1fr;
}

.page-catalog h2 {
	grid-column: 1/-1;

}

/* блок с крошками */

.crumbs {
	grid-row: 2/3;
	grid-column: 1/-1;
}
.crumbs-list li {
	font-family: "Open Sans", Arial, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 14px;
	line-height: 19px;
	color: var(--basic-black);
	display: inline-block;
}
.crumbs-list a { opacity: 0.3; color: var(--basic-black); }

.crumbs-list li:not(:first-child):before {
	background: url("../img/crumbs.svg") no-repeat center;
    display: inline-block;
    width: 4px;
    height: 6px;
    opacity: 1.0;
    content: "";
  }

.search-filter {
	grid-column: 1/2;
	background-color: var(--basic-gray-light);
	width: 350px;
}

.filter-header {
	background-color: #DCDCDC;
	grid-column: 1/2;
	grid-row: 3/4;
}
/*	убираем list-style у списков */

.catalog-sort-list,
.catalog-sort-button,
.crumbs-list,
.products-list,
.pagination-list,
.sub-pagination-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* выставляем все списки в строчку */

.catalog-sort li { display: inline; }
/* стили заголовков в блоке page-catalog <main> */

.page-catalog h3 {
	font-family: Gilroy, Arial, sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

/* задаем шрифт и цвет (ссылкам) в списке в блоке catalog-sort */

.catalog-sort {
	grid-column: 2/-1;
	grid-row: 3/4;
	background-color: #E5E5E5;
}
.catalog-sort a {
	font-family: "Open Sans", Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	color: var(--basic-black);
}
/* определяем маркером current активный элемент в фильтре */

.catalog-sort-list li:not(.current)        { opacity: 0.3; }
.catalog-sort-list li:not(.current):hover  { opacity: 0.6; }
.catalog-sort-list li:not(.current):active { opacity: 1.0; }

/* не работает даже с тройным вложением (... img {} ) */

.catalog-sort-button li:not(.current)        { opacity: 0.3; }
.catalog-sort-button li:not(.current):hover  { opacity: 0.6; }
.catalog-sort-button li:not(.current):active { opacity: 1.0; }


/* блок продуктов */




.products-list {
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 40px;
	margin-left: 72px;
	margin-top: 70px;
}

.products-list li {
	width: 360px;
}

.product-info {
	margin-top: 30px;
}
.product-info a {
	font-family: Gilroy, Arial, sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.05em;
	color: var(--basic-black);
}

.product-info p {
	font-family: Gilroy, Arial, sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 18px;
	letter-spacing: 0.05em;
	color: var(--basic-black);
}

.product-image:hover {
	opacity: 0.7;
}





/* пагинация */

.pagination {
	font-family: Gilroy, Arial, sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: var(--basic-black)
	background-color: #EBEBEB;
	text-align: center;

	width: 760px;
	height: 70px;
}

.pagination a {
	color: var(--basic-black);
}

.pagination-list,
.pagination-list li,
.pagination-back,
.pagination-forward {
	display: inline-block;
}

.pagination-back:hover,
.pagination-forward:hover {
	display: inline-block;
	background: #D9D9D9;
}

/* здесь ошибка, нужно сделать что-бы прозрачность менял только текст, а не весь блок */

.pagination-back {
	float: left;
}

.pagination-forward {
	float: right;

}

.pagination-back:active,
.pagination-forward:active {
	display: inline-block;
	background: #D9D9D9;
	opacity: 0.3;
}

/* использую ту же логику что использовал в крошках */

.pagination-list li:not(.current)        { opacity: 0.3; }
.pagination-list li:not(.current):hover  { opacity: 0.6; }
.pagination-list li:not(.current):active { opacity: 1.0; }



.page {
	height: 100%;
}

.page-body {
	min-height: 100%;
	display: grid;
  grid-template-rows: min-content 1fr min-content;
  /* шапка занимает высоту по своему контенту, как и подвал, а контентная часть занимает всё возможное пространство. */
	align-content: start;
	margin-top: 40px;
}
